@import 'fonts';
@import 'reset';
@import 'global';

body{
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: $mainColor;
  background-color: $mainBackground;
  font-family: 'Roboto', sans-serif;
  letter-spacing: normal;
}
.container {
  box-sizing: border-box;
  max-width: 1200px;
	padding: 0 15px;
  margin: 0 auto;
}
.header{
	padding-top: 20px;
	margin-bottom: 30px;
	&__inner{
		display: flex;
	}
	&__content{
		width: 100%;
	}
}

.header__logo{
	width: 210px;
	margin-right: 30px;
	&-link{
		text-align: center;
	}
	&-name{
		margin-top: 9px;
		text-transform: uppercase;
		color: #000;
		font-family: 'Helios Cond Bold', sans-serif;
	}
}

.header__top{
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding-bottom: 9px;
	margin-bottom: 19px;
	border-bottom: 1px solid $borderColor;
	&_vertical-line{
		margin: 0 11px;
	}
	&-authentication_entrance{
		cursor: pointer;
	}
	&-authentication_registration{
		cursor: pointer;
	}
}
.menu{
	&__item{
		margin-right: 24px;
	}
}

.header__main{
	display: flex;
	justify-content: space-between;
	&-banner{
		width: 252px;
		height: 69px;
		background-color: $borderColor;
	}
}
.header__main-data{
	display: flex;
	flex-direction: column;
	&_item{
		display: flex;
		align-items: center;
		margin-bottom: 7px;
	}
	&_icon{
		width: 25px;
		text-align: right;
		margin-right: 12px;
	}
	&_count{
		font-size: 14px;
		border-bottom: 1px solid #252525;
		cursor: pointer;
	}
	&_info{
		border-bottom: 1px solid #252525;
		cursor: pointer;
	}
}
.header__main-goods{
	width: 240px;
	display: flex;
	justify-content: space-between;
	&_good{
		width: 71px;
		height: 71px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $borderColor;
	}
}

.header__main-information{
	&_time{
		display: flex;
		justify-content: space-between;
		&-title{
			font-family: 'Roboto Bold';
		}
	}
	&_phone{
		font-size: 25px;
		font-family: 'Roboto Bold';
		margin: 16px 0 9px;
		padding-bottom: 17px;
		border-bottom: 1px solid $borderColor;
	}
	&_location{
		display: flex;
		justify-content: space-between;
	}
}
.header__main-information_location{
	&-change{
		position: relative;
		padding-left: 13px;
		cursor: pointer;
	}
	&-img{
		position: absolute;
		left: 0;
		top: 2px;
	}
	&-text{
		border-bottom: 1px dashed #000;
	}
}

.categories{
	font-family: 'Roboto Bold';
	color: #fff;
	&__inner{
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		height: 100%;
		background-color: $mainColor;
		border-radius: 8px;
	}
	&__list{
		display: flex;
	}
	&__sale{
		padding: 0 16px;
		border-radius: 0px 5px 5px 0px;
		margin-left: 0px;
	}
	&__link{
		height: 100%;	
		display: flex;
		align-items: center;
	}
}
.categories__item{
	padding: 0 20px;
	&-icon{
		background-color: $activeColor;
		padding: 7px 11px 8px 11px;
		border-radius: 5px 0 0 5px;
		cursor: pointer;
	}
	&-active{
		margin-left: 60px;
		color: $mainColor;
		background-color: $activeColor;
	}
}
